langchain==0.3.7
langchain-openai==0.2.9
langchain-chroma==0.1.4
chromadb==0.5.20
python-dotenv==1.0.1
tiktoken==0.8.0
fastapi
uvicorn[standard]
gunicorn
pysqlite3-binary==0.5.4.post2; sys_platform == "linux"